{% extends "admin/change_form.html" %}

{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url "admin:index" %}">{% trans "Home" %}</a> &rsaquo;
    <a href="{% url "admin:app_list" app_label %}">{{app_label|capfirst|escape}}</a> &rsaquo;
    <a href="{{changelist_url}}">{{opts.verbose_name_plural|capfirst}}</a> &rsaquo;
    <a href="{{change_url}}">{{original|truncatewords:"18"}}</a> &rsaquo;
    Generate
  </div>
{% endblock %}

{% block content %}
  <div id="content" class="colM">
    <div id="content-main">
      <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="submit-row">
          <input type="submit" value="{% trans 'Generate' %}" class="default">
        </div>
      </form>
    </div>
  </div>
{% endblock %}